<div ng-cloak>
    <div class="well">
        <div style="margin-bottom: 5px;" class="row">
            <span class="col-md-4 text-center">
                <label translate="main.score"></label>
                {{ totalScore }}
            </span>
            <div class="col-md-4">
                <select class="form-control"
                        ng-model="currentShape"
                        ng-change="updateCells()"
                        ng-options="shape as shape.displayName for shape in shapes">
                    <option></option>
                </select>
            </div>
            <div class="col-md-4">
                <button ng-click="resetGame()" class="btn btn-primary">
                    Reset Game
                </button>
            </div>
        </div>
        <div ng-if="gameOver" class="text-center row alert alert-danger">Game Over!</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <grid-drop-square size="3" is-palette="true" content="initial" drag-target="true"></grid-drop-square>
        </div>
        <div class="col-md-6">
            <div ng-repeat="row in contents track by $index" ng-init="x=$index">
                <div ng-repeat="col in row track by $index" ng-init="y=$index">
                    <grid-drop-square size="3"
                                      grid-drop-x="x"
                                      grid-drop-y="y"
                                      content="contents[x][y]"
                                      drop-target
                                      drag-target="false">

                    </grid-drop-square>
                </div>
            </div>
        </div>
    </div>
</div>
